// Definir variables
$color-header: #2C2C2E;
$color-secundario: #ff3b30;
$anchura: 1200px;
$header-bg-color: #2C2C2E;
$nav-link-color: #fff;
$nav-link-hover-color: #ccc;
$logo-bg-color: #888;
$font-family: 'Arial, sans-serif';
$border-radius: 10px;
