// Variables de colores
@use "../global/variables";
// Variables de imágenes de fondo por resolución
$home-background-large: url('../../../media/imagenes/avif/imagenFondoMenu2560X1707.avif');
$home-background-standard: url('../../../media/imagenes/avif/imagenFondoMenu1920X1281.avif');
$home-background-small: url('../../../media/imagenes/avif/imagenFondoMenu1200x800.avif');
$home-background-tablet: url('../../../media/imagenes/avif/imagenFondoMenu768X512.avif');
$home-background-mobile: url('../../../media/imagenes/avif/imagenFondoMenu480x320.avif');


// Estilos del contenedor principal
#home {
    background-image: $home-background-large;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: variables.$color-header;
    position: relative;

    @media (max-width: 2560px) {
        background-image: $home-background-standard;
    }

    @media (max-width: 1920px) {
        background-image: $home-background-small;
    }

    @media (max-width: 1200px) {
        background-image: $home-background-tablet;
    }

    @media (max-width: 768px) {
        background-image: $home-background-mobile;
    }

    h1 {
        color: variables.$color-secundario;
        margin: 60px 0;
        font-size: 5rem;
    }


}

// Estilos del contenedor de tarjetas
// Estilos del contenedor de tarjetas
.contenedorHome {
    display: flex;
    gap: 200px;
    margin-top: 80px;

    .tarjeta {

        width: 300px;
        height: 200px;
        background-color: white;
        
        picture{
            background-color: tomato;
            height: 70%;
        }

        img{
            margin-top: 0;
            width: 100%;
        }
    }
}






// Botón de Crear
.crear {
    background: variables.$color-secundario;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.busqueda {
    background-color: white;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}